.root {
    -fx-font-family: "Montserrat", sans-serif;
    -fx-background-color: linear-gradient(to right, #e2e2e2, #c9d6ff);
}

.event-container {
  -fx-background-color: #fff;
  -fx-background-radius: 25;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.25), 15, 0, 0, 5);
  -fx-padding: 40 50;
  -fx-max-width: 750;
  -fx-alignment: top-center;
}

.event-title {
  -fx-font-size: 28px;
  -fx-font-weight: bold;
  -fx-text-fill: #512da8;
  -fx-alignment: center;
}

.section-title {
   -fx-font-size: 20px;
   -fx-font-weight: bold;
   -fx-text-fill: #512da8;
   -fx-padding: 20 0 10 0;
}

.event-label {
   -fx-font-size: 14px;
   -fx-font-weight: bold;
   -fx-text-fill: #444;
   -fx-padding: 10 0 5 0;
}

.text-field, .text-area, .combo-box, .date-picker {
  -fx-background-color: #eee;
  -fx-background-radius: 10;
  -fx-padding: 10;
  -fx-font-size: 14px;
  -fx-border-color: transparent;
}

.text-field:focused, .text-area:focused, .combo-box:focused, .date-picker:focused {
  -fx-background-color: #f5f5f5;
  -fx-border-color: #512da8;
  -fx-border-radius: 10;
}

.button {
    -fx-background-color: #512da8;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 12 40;
    -fx-background-radius: 10;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #6345c0;
}

.separator {
    -fx-border-color: #ddd;
    -fx-border-width: 1 0 0 0;
    -fx-padding: 10 0;
}
